.card-format {
    margin: 16px;
    padding: 16px;
    display: flex;
}

.title-category {
    font-size: large;
    color: tomato;
    text-transform: capitalize;
}

.category {
    display: block;
}
